<nav class="navbar" [ngClass]="{ collapsed: !sidebarOpen, mobile: isMobile }">
  <div class="navbar-header">
    <!-- Sidebar Toggle Button -->
    <button (click)="toggleSidebar()">
      <mat-icon>{{ sidebarOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>

    <!-- Logo and Title -->
    <h3>
      <span><img src="assets/Logo/aztecScan_logo.png" alt="ASCB Logo" /></span>
      AzteScan
    </h3>
  </div>

  <div class="navbar-container" *ngIf="authService.currentUser as user">
    <div class="nav-actions">
      <!-- Profile Section -->
      <div class="profile" (click)="toggleProfileMenu()">
        <div class="profile-icon">
          <img [src]="user.profilePicture || 'assets/Icons/user_default.png'" alt="Profile" />
        </div>
        <div class="profile-user" *ngIf="!isMobile">
          <p class="user-name">{{ user.name }}</p>
        </div>
        <div class="dropdown-icon">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>

        <!-- Profile Dropdown -->
        <div class="profile-dropdown" *ngIf="showProfileMenu">
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
