<div class="layout" [ngClass]="{ collapsed: !sidebarOpen, mobile: isMobile }">
  <!-- Navbar -->
  <app-navbar [sidebarOpen]="sidebarOpen" (toggleSidebarEvent)="toggleSidebar($event)">
  </app-navbar>

  <!-- Overlay for mobile -->
  <div class="sidebar-overlay" *ngIf="sidebarOpen && isMobile" (click)="toggleSidebar(false)"></div>
  <!-- Sidebar -->
  <app-sidebar [isOpen]="sidebarOpen" [class.open]="sidebarOpen"> </app-sidebar>

  <!-- Main content -->
  <main class="layout-content">
    <router-outlet></router-outlet>
  </main>
</div>
